body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  text-align: center;
}

#fileInput {
  display: none;
}

pre#status {
  margin-top: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 1.5em;
}

#keyboxInfo {
  margin-bottom: 20px;
}

#keyboxInfo {
  margin: 0 20px 20px;
  max-width: 90%;
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
}

.keybox_btn {
  background-color: transparent;
  margin: 8px;
}

#uploadBtn {
  background-color: var(--md_accent_color);
  color: var(--text-primary-inverse);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}