:root {
    --md_accent_color: #c9fdd3;
    --md_surface_color: #1e1e1e;
    --md_surface_color_light: #303030;
    --md_accent_dark_color: #55a165b4;
    --md_body_background: #111;
    --card-bg: #000000;
    --text-primary: #ffffff;
    --text-primary-inverse: #000000;
    --text-secondary: #ddd;
    --error-red: #f87171;
  }